@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "inter";
  padding: 0;
  margin: 0;
}

/* header design */
.body-sec {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 10%; */
}
.body-sec img {
  width: 70px;
}
.header-sec-fit {
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.anchors {
  display: flex;
  gap: 45px;
}
a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}

/* image section design */
.back-ground-img {
  display: flex;
  flex-direction: column;
}

.main-section {
  max-width: 7000px;
}
.back-ground-img img {
  margin-top: 3rem;
  width: 1130px;
  height: 350px;
}
.sec-sec-sec {
  display: flex;
  flex-direction: column;
}
.img-box-sec {
  display: flex;
  gap: 2rem;
}
.img-sec-box {
  display: flex;
  flex-direction: column;
}

/* bright future web */
.second-sec-3 {
  border: 1px solid red;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: justify;
  margin-inline: auto;
  /* gap: 7rem; */
  /* padding: 20px; */
  width: 1130px;
}
.bright-web {
  /* border: 1px solid green; */
  max-width: 400px;
}
.bright-web h1 {
  font-size: 4rem;
  text-align: left;
  font-weight: 800;
  line-height: 70px;
}
.dive-into-promise {
  border: 1px solid blue;

  font-size: 1rem;
  font-size: 20px;
  max-width: 450px;
  line-height: 30px;
}

/* black border design */
.black-border-box {
  border: 1px solid black;
  margin-top: 3rem;
  padding: 1rem;
  background-color: hsl(240, 100%, 5%);
  gap: 1rem;
  width: 500px;
  height: 540px;
}
.border-sec-2 {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
.black-border-box h2 {
  /* margin-top: 1rem; */
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
}
.black-border-box p {
  color: hsl(36, 100%, 99%);
  margin-top: 1.5rem;
  font-size: 1rem;
}
span {
  font-weight: 600;
  font-size: 1.2rem;
}
h6 {
  color: hsl(36, 100%, 99%);
  margin-top: 1rem;
  font-weight: 100;
  font-size: 1rem;
}
hr {
  margin-top: 1rem;
  color: grey;
  height: 1px;
}
